.data-options-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 6px;
	border: none;
	font-weight: bold;
	padding: $padding;
	border-radius: 6px;
	text-align: center;
	border: 1px solid lightgray;
	color: $purple;
	cursor: pointer;
}

.button-group {
	display: flex;
	align-items: center;
	justify-content: center;
}

.data-options-button--modal {
	border: none;
	font-weight: bold;
	padding: $padding;
	border-radius: 6px;
	text-align: center;
	border: 1px solid lightgray;
	color: $purple;
}

.button--disabled {
	pointer-events: none;
	opacity: 0.5;
}

@media only screen and (max-width: 500px) {
	.button-group {
		flex-direction: column;
	}
}
