.Card {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 4rem;
	margin: 1rem 0;
	min-width: 23%;
	border-radius: 12px;
}

.algorithms > * {
	padding: 1em;
}

.Card-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 4rem;
}

.Card--big {
	max-width: 830px;
	box-shadow: 2px 2px 2px lightgray;
}

.Card-description .subtitle {
	font-size: small;
}

@media only screen and (max-width: 500px) {
	.Card {
		padding: 1rem;
		width: 100%;
	}
}
