.card-chart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $white;
	box-shadow: 2px 2px 2px lightgray;
	border-radius: 12px;
}

.card-chart--big {
	min-width: 49%;
}

.card-chart-small {
	min-width: 23%;
}

.chart-visualize {
	width: 890px;
	height: 404px;
}

@media only screen and (max-width: 500px) {
	.card-chart,
	.card-chart-small {
		max-width: 100%;
	}
	.chart-visualize {
		width: 400px;
		height: 400px;
	}
}
