.Dashboard {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
	padding: $padding 6rem;
}

.Dashboard .overview,
.Dashboard .small-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.small-cards {
	padding: 2rem 0;
}

.charts {
	display: flex;
	justify-content: space-between;
}

.overview-title p {
	color: gray;
}

@media only screen and (max-width: 500px) {
	.Dashboard {
		display: inline-block;
		margin: 0 0;
		max-width: 100%;
		padding: 1rem;
		font-size: 3vw;
	}
	.small-cards {
		flex-flow: column;
		flex-wrap: wrap;
	}
	.charts {
		flex-direction: column;
		max-width: 100%;
	}
	.charts > * {
		margin: 1rem 0;
	}
}
