.wrapper {
	display: flex;
	position: relative;
}

.wrapper .verticalNav {
	position: fixed;
	width: 100px;
	height: 100%;
	padding: 30px 0;
	background: #373b53;
}

.wrapper .verticalNav ul {
	position: relative;
	height: 90%;
}

.wrapper .verticalNav ul li {
	padding: 20px;
	width: 100%;
}

.wrapper .verticalNav ul li a {
	width: 54px;
	height: 54px;
	display: flex;
}

.wrapper .verticalNav ul li:hover a {
	background-color: white;
	border-radius: 10px;
}

.current {
	pointer-events: none;
	background-color: white;
	border-radius: 10px;
	fill: #713bdb;
}

.disabled {
	pointer-events: none;
}

.wrapper .verticalNav ul li:hover a .svg-image {
	fill: #713bdb;
}

.wrapper .verticalNav ul > :last-child {
	position: absolute;
	bottom: 0;
}
